#################
## API Testing
#################

*.cmd
*.exe
data
tmp

#################
## Node
#################

node_modules
logs
*.log
npm-debug.log*

#################
## Sublime Text
#################

*.sublime-project
*.sublime-workspace
*.floo
*.flooignore
*.gitingore

#################
## Windows
#################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#################
# Mac
#################

.DS_Store